.spc-player {
   width: 256px;
   margin: 20px auto;
   font-family: 'Open Sans', sans-serif;
   box-shadow: 0 8px 32px 5px rgba(0,0,0,0.2);
   border-radius: 10px;
   background: #eaeaea;
           transition: all 0.7s ease;
       -ms-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
   -webkit-transition: all 0.7s ease;
}

.spc-player .content {
  padding: 20px 20px 5px;
  font-size: 0.8em;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.7);
  line-height: 2;
  position: relative;
  text-overflow: ellipsis;
}

.track, .artist, .album {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.spc-player img {
  border-radius: 8px 8px 0 0;
  margin-top: -1px;
  transition: all 0.5s ease;
}

.spc-player img:hover {
  -webkit-filter: grayscale();
          filter: grayscale();
  cursor: pointer;
}

.spc-player .artist {
  font-weight: 400;
  font-size: 1.1em;
}

.spc-player .track {
  font-weight: 300;
}

progress,
progress::-webkit-progress-bar
{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border:0;
  height:2px;
  background-color: #d6d6d6;
  width: 100%;
  position: relative;
}

progress, ::-webkit-progress-value {
  background: #10d7af;
}

::-moz-progress-value {
  background: #10d7af;
}

.spc-player ul.play-controls{
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
    font-size: 1.9em;
    margin: 0 10px;
}
.spc-player ul li   { display: inline; margin: 0 2px; }
.spc-player ul li i:hover { color: #10d7af; }

.spc-player ul.controls {
  text-align: right;
  position: absolute;
  right:10px; top: 72px;
  font-size: 1.3em;
}

.spc-player ul.controls li { margin: 0 1px; }
.spc-player ul.controls li i { color:#aaa; }
.spc-player ul.controls li i:hover {
  cursor: pointer;
  color: #10d7af;
}
